body
 -{background-color:white;
 +{background-color:blue;;
  color:black;
  }
  @media screen and (min-width: 1000px)
 @@ -15,14 +15,18 @@ img{
  	height:200px;
  }
  a
 - {font-size:100px;
 + {font-size:120px;
   letter-spacing:8px;
   text-transform:capitalize;
   
   }
 - h2
 + h2,h3
   {font-size:100px;
 - text-shadow:4px 4px 4px 4px blue;
 + 
 + }
 + h2,h3::first-letter{
 +	 font-size:120px;
 +	 text-shadow:4px 4px 4px 4px blue;
   }
  }
  @media screen and (max-width: 999px)
 @@ -32,10 +36,14 @@ max-width:600px;
  padding-right:5px;
  padding-left:10px;
  }
 -a{font-size:40px;
 +a{font-size:50px;
  }
 -h2{font-size:40px;
 +h2,h3{font-size:40px;
  }
 +h2,h3::first-letter{
 +	 font-size:50px;
 +	 text-shadow:4px 4px 4px 4px blue;
 + }
  img
   {width:200px;
   height:100px;
 @@ -61,10 +69,12 @@ header{
   {font-size:100px;
   text-shadow:4px 4px 4px 4px blue;
   }
 - h3
 - {font-size:30px;
 - text-shadow:4px 4px 4px 4px blue;
 - }
 + li:first-child 
 +{text-shadow: 2px 2px 2px 2px green;
 +}
 +li:last-child 
 +{text-shadow: 2px 2px 2px 2px red;
 +}
   
   
   #logo
 @@ -73,12 +83,7 @@ header{
   box-shadow:4px 4px 4px 4px black;
   border-radius:25px;
   }
 - .menuItem
 - {width: 300px;
 - height: 300px;
 - box-shadow:2px 2px 4px 4px blue;
 - border-radius:25px;
 - }
 + 
   p
   {font-size:76px;
   letter-spacing:5px;
