body
{background-color:white;
color:black;
margin:0 auto;
max-width:1000px;
}


#footer{width:1000px;
height: 600px;
	
}
header{
		text-align:center;
		width: 70%;
	}
 h1
 {font-size:100px;
 text-shadow:4px 4px 4px 4px blue;
 }
 h3
 {font-size:100px;
 text-shadow:4px 4px 4px 4px blue;
 }
 h2
 {font-size:100px;
 text-shadow:4px 4px 4px 4px blue;
 }
 img
 {width:100px;
 height:100px;
 }
 #logo
 {width:200px;
 height:200px;
 box-shadow:4px 4px 4px 4px black;
 border-radius:25px;
 }
 .menuItem
 {width: 300px;
 height: 300px;
 box-shadow:2px 2px 4px 4px blue;
 border-radius:25px;
 }
 p
 {font-size:76px;
 letter-spacing:5px;
 line-height:1.2;
 text-transform:capitalize;
 }
 
 a
 {font-size:100px;
 letter-spacing:8px;
 text-transform:capitalize;
 
 }